/* Insert Your Custom CSS Here */

.logo_img {
    max-width: 84%;
    margin-top: -37px;
}

.logo_imgadmin {
   margin-top: -21px;
    max-width: 124%;
    margin-left: -13px;
}

.txt_field_green {
   color:green;
font-weight: bold;
}
.txt_field_black {
   color:black;
font-weight: bold;
}
.txt_field_red {
   color:red;
font-weight: bold;
}


.lbl_green {
   color:green;
font-weight: bold;
}
.lbl_black {
   color:black;
font-weight: bold;
}
.lbl_red {
   color:red;
font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



